.heading {
    text-align: center;
    background-color: rgb(192, 217, 221);
    margin: 0;
    padding: 20px;
    color: #333333;
    margin-bottom: 10px;
}

input {
    border-radius: 10px;
}
.search {
    display: flex;
    justify-content: center;
    font-size: 15px;
    flex-wrap: wrap;
}
input {
    padding: 15px;
}
.message {
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.search img {
    margin: 15px; 
}
.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
  flex: 1 1 250;
  background: #eee;
  margin: 20px;
  box-shadow: 5px 5px 5px;
}
.tags {
    width:200px;
    min-height: 40px;
    overflow-wrap: break-word;
}
.box img {
    margin:20px;
    border: 2px solid rgb(30, 31, 32);
    width:250px;
    height:250px;
    box-sizing: border-box;
    -webkit-transition: width 1s, height 1s; /* Safari */
    transition: width 1s, height 1s;
}
.box img:hover {
    width: 270px;
    height: 270px;
    transition: 5;
}
.img-data {
    padding:20px;
    box-sizing: border-box;
}
p {
    padding: 0;
    margin: 0;
}
