<div class="flex-container">
    <div class="myself box">
      <h3>About Application</h3>
      <p>We use public APIs for application development and we integrate APIs in our applications as well. 
        I developed this application to fecilitate developers to check functionality of APIs and to integrate APIs into their applications. 
        More open source APIs will be added to our application soon. More resources and features will also be added to our application soon.</p>
    </div>
    <div class="application box">
      <h3>Myself</h3>
      <p>I am Sriharsha, recent grad from Marist College, Poughkeepsie, NY. I started developing interest in Web technologies during my Masters. I have worked as intern at Kwality Photonics Pvt Ltd. where I used to update Web pages with the company's products. 
        Through Web Technologies course in my Masters I have got insight into Angular and MEAN stack. So, I have started learning and loving Angular and I am aspiring to become a Front-End Developer. You can reach me @ sriharsha.alu@gmail.com.</p>
    </div>
  </div>