<div class="jumbotron">
  <h2>WELCOME TO API HUB</h2>
  <br>
  <p>Public APIs useful for development at one place.</p>
  <p>Check out the functionality of the APIs.</p>
  <p>Integrate APIs into your applications.</p>
  <p>More APIs will be added soon...</p>
</div>
<div class="box-container">
  <a routerLink='/image-search'>
    <div class="box">
      <h3>Free images from Pixabay</h3>
      <img src="../../assets/images/pixabay.jpg" alt="pixabay image">
      <p>Browse and download copyright free images and videos even for commercial purposes.</p>
    </div>
  </a>
  <a routerLink='/cdnjs'>
    <div class="box">
      <h3>Free CDNs from CDNJS</h3>
      <a>
        <img src="../../assets/images/cdnjs.png" alt="pixabay image">
      </a>
      <p>
        <strong>cdnjs</strong> provides CDNs and hosts all the popular libraries - JavaScript, CSS, SWF, images, etc!</p>
    </div>
  </a>
  <a routerLink='/data-validation'>
    <div class="box">
      <h3>Data Validation</h3>
      <div class="api-list data-validation">
        <h4>MAIL BOX LAYER API</h4>
        <h5>Advanced<strong> Email Validation</strong> from MAIL BOX LAYER</h5>
        <br>
        <br>
        <h4>NUM VERIFY API</h4>
        <h5>Advanced<strong> Phone Number Validation</strong> from NUMVERIFY</h5>
        <br>
        <br>
        <h4>LANGUAGE LAYER API</h4>
        <h5><strong>Language Detection</strong> from LANGUAGE LAYER</h5>
      </div>
    </div>
  </a>
</div>
